#!/usr/bin/env bash

#ADD ALIASES USING THE FILE
#Download .aliases file to ~
#Add this to end of ~/.zshrc to refer to the list of aliases
##source ~/.aliases



# NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# COMMON DIRECTORIES
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dc="cd ~/Documents"
alias p="cd ~/projects"
alias home="cd ~"


# Fav Directories
alias lom="cd ~/Documents/learning/LOM"
alias pylearn="cd ~/Documents/learning/python"



# GIT
alias g="git"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gc="git checkout"
alias gp="git push"
alias gm="git checkout master"
alias gl="git log --graph --all"

# EASIER DOTFILE EDITING
alias aliases="nano ~/.aliases && . ~/.aliases"
alias bashrc="nano ~/.bashrc && . ~/.bashrc"
alias bashprofile="nano ~/.bash_profile && . ~/.bash_profile"
alias zshrc="nano ~/.zshrc && . ~/.zshrc"
alias zshprofile="nano ~/.zsh_profile && . ~/.zsh_profile"


# HELPFUL TERMINAL ALIASES
alias c="clear"
alias python="python3"
alias path='echo -e ${PATH//:/\\n}'


# SHOW/HIDE HIDDEN FILES
alias showhidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"


# SHOW/HIDE DESKTOP ICONS
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
